%div{:id => 'site'}
  %div{:id => 'main'}
    %nav{:id => 'nav'}
      %ul
        %li{'data-bind' => 'css: { selected: "notes" == $root.selectedTab() }'}
          %a{:href => '#/notes'}= I18n.t 'notes'
        %li{'data-bind' => 'css: { selected: "todos" == $root.selectedTab() }'}
          %a{:href => '#/todos'}= I18n.t 'todos'
    .nav-site
      .component{:id => 'todos', 'data-bind' => 'visible: todos.visible'}
        %ol{'data-bind' => 'foreach: todos.list'}
          %li{'data-bind' => 'text: content'}
        %input{'data-bind' => 'value: todos.next_todo'}
        %button{'data-bind' => 'click: todos.add_next_todo_to_list'}= I18n.t 'add_todo'
      .component{:id => 'notes', 'data-bind' => 'visible: notes.visible'}
        = I18n.t 'notes_content'

  %div{:id => 'sidebar'}
    %p= I18n.t 'sidebar.one'
    %p 
      = I18n.t 'sidebar.two'
      %ul
        %li 
          %a{:href => 'http://knockoutjs.com/documentation/introduction.html'} knockout.js
        %li 
          %a{:href => 'http://sammyjs.org/docs'} sammy.js
        %li
          %a{:href => 'https://github.com/cujojs/curl'} curl.js
    %p= I18n.t 'sidebar.three' 
    %p 
      = I18n.t 'sidebar.try_this.header'
      %ul
        %li= I18n.t 'sidebar.try_this.one'
        %li= I18n.t 'sidebar.try_this.two'
        %li= I18n.t 'sidebar.try_this.three'
        %li= I18n.t 'sidebar.try_this.four'

:javascript
  curl(
    {
        baseUrl: "/assets",
        paths: {
          "jquery": "jquery-1.7.2",
          "knockout": "knockout-2.1.0.debug"
        }
    },
    
    ["knockout", "application", "router"], function (ko, Application, Router) {
      application = Application();
      ko.applyBindings(application);
      Router(application).run();
    }
  );
