!!!
%head
  %title Skeleton
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag 'jquery-1.7.2'
  = javascript_include_tag :sammy
  = javascript_include_tag 'knockout-2.1.0.debug'
  = javascript_include_tag 'application'
  = csrf_meta_tags

  %body

  = yield
