!!!
%head
  %title Skeleton
  = stylesheet_link_tag    "application", :media => "all"
  <script data-main="/assets/main" src="/assets/require.js"></script>
  = csrf_meta_tags
  %meta{:name => 'request_info', :content => request_info}

  %body

    .topbar
      .logged_in_template{:class => 'initial_component', 'data-bind' => 'visible: authenticator.logged_in'}
        logged in as 
        %span{'data-bind' => 'text: authenticator.username'}
        |
        %a{:href => sessions_path, 'data-bind' => 'click: authenticator.logout'} logout
      .logged_out_template{:class => 'initial_component', 'data-bind' => 'visible: authenticator.logged_in() == false'}
        %a{:href => users_path, 'data-bind' => 'click: authenticator.toggle_sign_up'} sign up
        or 
        %a{:href => sessions_path, 'data-bind' => 'click: authenticator.toggle_log_in'} log in

        %form{'data-bind' => 'submit: authenticator.sign_up, visible: authenticator.sign_up_page.visible', :method => 'post', :action => users_path}
          .field
            %label Username
            %input{:type => 'text', :name => 'username'}
          .field
            %label Password
            %input{:type => 'password', :name => 'password'}
          .field
            %label Password confirmation
            %input{:type => 'password', :name => 'password_confirmation'}
          .actions
            %input{:type => 'submit'}

        %form{'data-bind' => 'submit: authenticator.log_in, visible: authenticator.log_in_page.visible', :method => 'post', :action => sessions_path}
          .field
            %label Username
            %input{:type => 'text', :name => 'username'}
          .field
            %label Password
            %input{:type => 'password', :name => 'password'}
          .actions
            %button{:type => 'submit'} Log in

    .notice{'data-bind' => 'text: notifier.notice, slideVisible: notifier.noticeVisible'}= flash.notice
    .alert{'data-bind' => 'text: notifier.alert, slideVisible: notifier.alertVisible'}= flash.alert

    = yield
